/*
 * @Author: Mr.zhao 
 * @Date: 2017-10-13 10:56:03 
 * @Last Modified by: Mr.zhao
 * @Last Modified time: 2017-10-13 11:41:31
 */

body {
    font-family: sans-serif;
    line-height: 1.4;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.grid__col-sizer,
.photo-item {
    width: 32%;
}

.grid__gutter-sizer {
    width: 2%;
}

.photo-item {
    margin-bottom: 10px;
    float: left;
}

.photo-item__image {
    display: block;
    max-width: 100%;
}

.photo-item__caption {
    position: absolute;
    left: 10px;
    bottom: 10px;
    margin: 0;
}

.photo-item__caption a {
    color: white;
    font-size: 0.8em;
    text-decoration: none;
}

.page-load-status {
    display: none;
    /* hidden by default */
    padding-top: 20px;
    border-top: 1px solid #DDD;
    text-align: center;
    color: #777;
}


/* loader ellips in separate pen CSS */
.loader-ellips {
    font-size: 20px; /* change size here */
    position: relative;
    width: 4em;
    height: 1em;
    margin: 10px auto;
  }
  
  .loader-ellips__dot {
    display: block;
    width: 1em;
    height: 1em;
    border-radius: 0.5em;
    background: #555; /* change color here */
    position: absolute;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
  }
  
  .loader-ellips__dot:nth-child(1),
  .loader-ellips__dot:nth-child(2) {
    left: 0;
  }
  .loader-ellips__dot:nth-child(3) { left: 1.5em; }
  .loader-ellips__dot:nth-child(4) { left: 3em; }
  
  @keyframes reveal {
    from { transform: scale(0.001); }
    to { transform: scale(1); }
  }
  
  @keyframes slide {
    to { transform: translateX(1.5em) }
  }
  
  .loader-ellips__dot:nth-child(1) {
    animation-name: reveal;
  }
  
  .loader-ellips__dot:nth-child(2),
  .loader-ellips__dot:nth-child(3) {
    animation-name: slide;
  }
  
  .loader-ellips__dot:nth-child(4) {
    animation-name: reveal;
    animation-direction: reverse;
  }