@charset "utf-8";
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0
}

body, button, input, select, textarea {
    font: 12px/1.5 "\5FAE\8F6F\96C5\9ED1", arial;
    *line-height: 1.5
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal
}

address, cite, dfn, em, var {
    font-style: normal
}

code, kbd, pre, samp {
    font-family: courier new, courier, monospace
}

ul, ol {
    list-style: none
}

fieldset, img {
    border: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

input, button, textarea, select, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    font-size: 100%
}

div:after, ul:after, dl:after, .clearfix:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden
}

abbr, article, aside, audio, canvas, datalist, details, figure, footer, header, hgroup, menu, nav, output, progress, section, video {
    display: block;
    margin: 0;
    padding: 0
}

i, u, b, em, span, small {
    font-weight: normal;
    font-style: normal
}

a {
    text-decoration: none;
    color: #393939
}

a:visited {
    color: #393939;
    text-decoration: none
}

a:hover {
    color: #393939;
    text-decoration: none
}

.clearfix {
    clear: both;
    zoom: 1
}

html, body {
    height: 100%
}

html {
    font-size: 62.5%
}

body {
    font-size: 1.2rem;
    color: #1a1a1a;
    background: #f7f7f7;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-select: none;
    user-select: none;
    -moz-user-focus: none;
    -moz-user-select: none
}

h2 {
    margin: 0;
    padding: 0
}

ul {
    letter-spacing: -4px;
    word-spacing: -4px;
    font-size: 0
}

ul li {
    font-size: 1.2rem;
    letter-spacing: 0;
    word-spacing: 0
}

ul.boxFlex {
    width: 100%;
    display: box;
    display: -webkit-box;
    display: -moz-box
}

ul.boxFlex li {
    float: left;
    position: relative;
    box-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1
}

section {
    margin: 0 auto;
    height: auto;
    overflow: hidden;
    min-width: 310px;
    position: relative
}

section .column_body {
    position: relative
}

body, html {
    background: #fff
}

.f-hide {
    display: none
}

.f-fl {
    float: left
}

.f-fr {
    float: right
}

header {
    position: relative;
    height: 4.4rem;
    overflow: hidden
}

header .headBox {
    position: fixed;
    width: 100%;
    z-index: 101;
    top: 0;
    left: 0;
    background: #ffffff;
    border-bottom: 1px solid #dedfe0
}

header.focus {
    overflow: initial
}

header.focus .headBox {
    position: absolute
}

header .logo {
    float: left;
    padding-left: 1rem;
    overflow: hidden
}

header .icon_channal {
    float: left;
    position: relative;
    top: 0.4rem;
    margin-left: -1.5rem;
    font-size: 2rem;
    font-weight: bold;
    line-height: 4rem
}

header .userBox {
    float: right;
    height: 4.4rem;
    overflow: hidden
}

header .userBox .hover {
    color: #d70c19
}

.icon_user_img:before {
    content: ""
}

.icon_user_in img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: 1.5px
}

header .userBox span, header .userBox a {
    display: inline-block;
    width: 4.3rem;
    height: 4.4rem;
    line-height: 4.4rem;
    text-align: center
}

nav.pd_nav {
    position: fixed;
    top: 4.4rem;
    z-index: 101;
    width: 100%;
    background: rgba(0, 0, 0, 0.85)
}

nav.pd_nav li a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff
}

nav li {
    float: left;
    text-align: center;
    font-size: 13px
}

nav li a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff
}

nav .channel_nav li {
    width: 19.6%;
    line-height: 36px
}

nav.pd_nav .channel_nav {
    padding: 0
}

nav li {
    width: 19.6%;
    margin-top: 4px;
    margin-bottom: 4px
}

nav .channel_nav li a:hover {
    text-decoration: none
}

nav .shengtaiNav {
    color: #ea6250;
    font-size: 16px;
    margin: 4px 1.6rem 4px 1.6rem
}

@media (orientation: landscape) {
    .pd_nav .channel_nav li {
        width: 14%
    }

    nav .shengtaiNav {
        color: #ea6250
    }
}

.search_top {
    position: relative;
    height: 4.5rem;
    background: rgba(225, 225, 225, 1)
}

.search_top .search_cnt {
    width: 100%;
    z-index: 99;
    position: fixed;
    top: 4.4rem;
    left: 0;
    height: 3rem;
    background: rgba(225, 225, 225, 1);
    line-height: 3rem;
    padding: 0.7rem 0;
    margin-top: -0.1rem
}

.search_top a {
    display: block;
    height: 100%;
    margin: 0 1rem;
    border-radius: 2rem;
    border: 1px solid #dedfe0;
    background: #ffffff;
    text-align: center;
    color: #d71321;
    font-size: 1.2rem
}

.search_top a b {
    color: #222222
}

.search_top .search_cnt span {
    position: absolute;
    background: url(http://i0.letvimg.com/lc03_img/201512/24/15/56/1555/lekans.png) no-repeat left top;
    width: 7.9rem;
    height: 1.7rem;
    left: 50%;
    top: 32%;
    margin-left: -4rem;
    background-size: 100%
}

@font-face {
    font-family: 'icomoon';
    src: url('http://static.letvcdn.com/lc03_phone/201603/18/10/52/1048/icomoon.eot');
    src: url('http://static.letvcdn.com/lc03_phone/201603/18/10/52/1048/icomoon.eot?#iefix') format('embedded-opentype'), url('http://static.letvcdn.com/lc03_phone/201603/18/10/52/1048/icomoon.ttf') format('truetype'), url('http://static.letvcdn.com/lc03_phone/201603/18/10/52/1048/icomoon.woff') format('woff'), url('http://static.letvcdn.com/lc03_phone/201603/18/10/52/1048/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal
}

.icon_font {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    vertical-align: -1px
}

.icon_logo2, .icon_logo3, .icon_logo4 {
    display: none
}

.icon_logo_box {
    position: relative;
    float: left;
    height: 4.4rem
}

.icon_logo1 {
    min-width: 4.2rem
}

.icon_logo1:before {
    position: relative;
    content: '\e910';
    color: #d80c18;
    font-size: 2.2rem;
    line-height: 4.4rem
}

header .icon_channal {
    font-size: 2rem;
    color: #d80c18;
    letter-spacing: 0.1rem;
    font-family: arial, sans-serif
}

.m_index_logo .icon_logo1:before {
    position: relative;
    content: '\e911';
    color: #d80c18;
    font-size: 10rem
}

.icon_ch {
    margin-top: 0.2rem
}

.icon_ch:before {
    content: "\e604";
    font-size: 1.8rem
}

.icon_rec:before {
    content: "\e605";
    font-size: 1.9rem
}

.icon_user:before {
    content: "\e606";
    font-size: 1.8rem
}

.icon_so:before {
    content: "\e609";
    font-size: 1.2rem;
    color: rgb(180, 180, 181);
    margin-right: 0.6rem
}

.icon_more:before {
    content: "\e607";
    font-size: 1.2rem;
    color: rgb(215, 12, 25);
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0
}

.icon_more1:before {
    content: "\e607";
    font-size: 1.2rem;
    color: rgb(215, 12, 25);
    display: inline-block;
    position: absolute;
    left: 1rem;
    top: 0
}

.icon_more1:after {
    content: "\e607";
    font-size: 1.2rem;
    color: rgb(215, 12, 25);
    display: inline-block;
    position: absolute;
    left: 2.2rem;
    top: 0
}

.icon_camara:after {
    content: "\E61B";
    display: inline-block;
    font-size: 1.2rem;
    color: #e14243
}

.icon_more:before {
    transform: scale(0.25, 0.25);
    -moz-transform: scale(0.25, 0.25);
    -webkit-transform: scale(0.25, 0.25);
    -o-transform: scale(0.25, 0.25)
}

.icon_more1:before {
    transform: scale(0.4, 0.4);
    -moz-transform: scale(0.4, 0.4);
    -webkit-transform: scale(0.4, 0.4);
    -o-transform: scale(0.4, 0.4)
}

.icon_more1:after {
    transform: scale(0.6, 0.6);
    -moz-transform: scale(0.6, 0.6);
    -webkit-transform: scale(0.6, 0.6);
    -o-transform: scale(0.6, 0.6)
}

.icon_playNum:before {
    content: "\e608";
    font-size: 1.7rem;
    float: right;
    color: rgb(124, 124, 124);
    margin-left: 0.4rem;
    margin-top: 0.2rem
}

.v_func .icon_share:before {
    content: "\e60B";
    font-size: 1.7rem;
    float: right;
    color: rgb(124, 124, 124);
    margin-left: 0.4rem;
    margin-top: 0.1rem
}

.icon_zan:before {
    content: "\e615";
    font-size: 1.4rem;
    color: #ffffff
}

.cur .icon_zan:before {
    content: "\e616";
    font-size: 1.8rem;
    color: #ffffff
}

.icon_share:before {
    content: "\e614";
    font-size: 1.4rem;
    color: #ffffff
}

.icon_phone:before {
    content: "\e611" !important;
    font-size: 2rem;
    color: #5297f4
}

.icon_living:before {
    content: "\e60F";
    font-size: 1.6rem;
    color: #de3340
}

.icon_backLook:before {
    content: "\e610";
    font-size: 1.6rem;
    color: #5297f4
}

.icon_tou:before {
    content: "\e612";
    font-size: 4rem;
    color: #cccccc
}

.icon_sofa:before {
    content: "\e619";
    font-size: 4rem;
    color: #cccccc
}

.icon_cmt:before {
    content: "\e618";
    font-size: 1.6rem;
    color: rgb(180, 180, 181)
}

.icon_view:before {
    content: "\e61A";
    font-size: 1.2rem;
    color: #ffffff
}

.icon_liveFirst:before {
    content: "\e61C";
    font-size: 1.6rem;
    color: #fa713b
}

.icon_chao:before {
    content: "\e61D";
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    margin-left: 0.3rem
}

.icon_backtop {
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 0.6rem;
    background: rgba(0, 0, 0, 0.7)
}

.icon_backtop:before {
    content: "\e60E";
    font-size: 3.2rem;
    color: #fff;
    position: relative;
    top: .5rem;
    display: block;
    text-align: center
}

@media (device-height: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .icon_backtop:before {
        content: "\e60E";
        font-size: 3.2rem;
        color: #fff;
        position: relative;
        top: .4rem;
        display: block;
        text-align: center
    }
}

.icon_tarr:before, .icon_barr:before {
    content: "\e60E";
    font-size: 1.4rem;
    color: #bebfc0
}

.icon_down:before {
    content: "\e613";
    font-size: 1.4rem;
    color: #ffffff
}

.btn_feedback {
    background: url(http://i0.letvimg.com/lc02_img/201511/17/10/53/fankui.png) no-repeat;
    background-size: 100%;
    border-radius: 0.6rem
}

.icon_collect:before {
    content: "\e80d";
    font-size: 1.6rem;
    color: #9a6900
}

.icon_backplay:before {
    content: "\e801";
    font-size: 1.4rem;
    color: #ff4b4b
}

.icon_playback:before {
    content: "\e806";
    font-size: 1.8rem;
    color: #ffffff;
    padding-top: 0.3rem
}

.icon_zan1:before {
    content: "\e80c";
    font-size: 1.4rem;
    color: #c4c4c4
}

.icon_share1:before {
    content: "\e809";
    font-size: 1.8rem;
    color: #c4c4c4
}

.icon_share2:before {
    content: "\e80e";
    font-size: 2.4rem;
    color: #ffffff
}

.icon_barrage:before {
    content: "\e902";
    font-size: 2rem;
    color: #ffffff
}

.icon_barrage_no:before {
    content: "\e903";
    font-size: 2rem;
    color: #ffffff
}

.icon_arrow:before {
    content: "\e800";
    font-size: 1.4rem;
    color: #e0e0e0
}

.icon_qq:before {
    content: "\e808";
    font-size: 1.8rem;
    color: #ffffff
}

.icon_sina:before {
    content: "\e80a";
    font-size: 1.8rem;
    color: #ffffff
}

.icon_weixin:before {
    content: "\e80b";
    font-size: 1.8rem;
    color: #ffffff
}

.icon_qone:before {
    content: "\e807";
    font-size: 1.8rem;
    color: #ffffff
}

.icon_phone1:before {
    content: "\e900";
    font-size: 1.8rem;
    color: #cccccc
}

.icon_shop:before {
    content: "\e901";
    font-size: 2rem;
    color: #cccccc
}

.icon_huatong:before {
    content: "\e904";
    font-size: 1.6rem;
    color: #ffffff
}

.icon_cmt1:before {
    content: "\e908";
    font-size: 2.3rem;
    color: #cccccc
}

.icon_cmt2:before {
    content: "\e909";
    font-size: 1.2rem;
    color: #cccccc
}

.icon_down1:before {
    content: "\e907";
    font-size: 2.3rem;
    color: #cccccc
}

.icon_share3:before {
    content: "\e906";
    font-size: 2.3rem;
    color: #cccccc
}

.icon_zan2:before {
    content: "\e905";
    font-size: 1.8rem;
    color: #757575
}

.icon_zan3:before {
    content: "\e90a";
    font-size: 1.7rem;
    color: #ff4b4b
}

.icon_playNum1:before {
    content: "\e90b";
    font-size: 1.2rem;
    color: #cccccc
}

.icon_change:before {
    content: "\e90d";
    font-size: 1.8rem;
    color: #ff4b4b
}

.icon_close:before {
    content: "\e804";
    font-size: 1.8rem;
    color: #cccccc
}

.icon_cmt3:before {
    content: "\e90E";
    font-size: 2rem;
    color: #cccccc
}

.icon_change1:before {
    content: "\e916";
    font-size: 2.4rem;
    color: #ff4b4b
}

.icon_down:before {
    content: '\e913';
    font-size: 1.6rem;
    color: #cccccc
}

.icon_sofa1:before {
    content: "\e914";
    font-size: 4rem;
    color: #cccccc
}

.icon_statePlay:before {
    content: "\e915";
    font-size: 1.6rem;
    color: #ef534e
}

footer.footer {
    background: rgba(246, 246, 246, 1);
    padding-top: 0.8rem
}

.aboutBox {
}

.aboutBox li {
    float: left;
    width: 20%;
    text-align: center;
    line-height: 2.6rem
}

.aboutBox li, .aboutBox li a {
    color: rgba(102, 102, 102, 1);
    font-size: 1.2rem
}

.verBox {
    margin-top: 0.8rem;
    height: 3rem;
    line-height: 3rem
}

.verBox ul.boxFlex li {
    position: relative;
    font-size: 1.2rem;
    text-align: center;
    background-color: #fff
}

.verBox ul.boxFlex li a {
    display: block;
    color: #373738
}

.verBox ul.boxFlex li:nth-child(1) {
    background-color: #1e1b1b
}

.verBox ul.boxFlex li:nth-child(1) a {
    color: #ffffff
}

.beian {
    height: 4.2rem;
    line-height: 4.2rem;
    text-align: center;
    font-size: 1.1rem;
    color: rgba(194, 194, 194, 1)
}

.loadBox {
    margin: 0 auto;
    height: 30rem;
    overflow: hidden;
    position: relative
}

.arkBox {
    margin-top: 25px
}

.arkBox img {
    width: 100%;
    height: auto;
    float: left
}

.so_bot {
    position: relative;
    width: 100%;
    height: 4.4rem;
    background: rgba(225, 225, 225, 1)
}

.so_bot .inputBox {
    display: block;
    height: 100%;
    border-radius: 0.5rem;
    border: 1px solid #dedfe0;
    text-align: center;
    color: #d71321;
    font-size: 1.3rem;
    margin: 0 1.5rem;
    padding-top: 0.4rem
}

.so_bot .input1 {
    display: block;
    height: 3.4rem;
    width: 100%;
    line-height: 3.4rem;
    border-radius: 2rem;
    padding-left: 1%;
    border: none;
    background: #fff
}

.so_bot .ico_send {
    position: absolute;
    top: 0.6rem;
    right: 1rem;
    width: 3.6rem;
    height: 2.8rem;
    text-align: center;
    border-radius: 0.4rem;
    line-height: 2.8rem;
    border: 1px solid #3e7aca;
    background: #5297f4;
    color: #ffffff
}

.so_bot .ico_send input {
    border: none;
    background: none;
    color: #ffffff;
    border-radius: 0.4rem
}

.so_bot .ico_send input.i-b {
    height: 2.8rem;
    width: 3.6rem;
    display: block;
    text-align: center;
    line-height: 2.8rem;
    color: #ffffff
}

.so_bot .leso {
    position: absolute;
    left: 50%;
    margin-left: -4rem;
    top: 29%;
    width: 7.9rem;
    height: 1.7rem;
    background: url(http://i0.letvimg.com/lc03_img/201512/24/15/56/1555/lekans.png) no-repeat left top;
    background-size: 100%
}

.so_bot a {
    display: block;
    width: 100%;
    height: 100%
}

.up-letv {
    position: fixed;
    right: 8px;
    width: 4.2rem;
    display: none;
    z-index: 100;
    bottom: 65px
}

.up-letv span {
    position: relative;
    margin-top: 5px
}

div.up-letv i, div.up-letv b, div.up-letv a {
    width: 4.2rem;
    height: 4.2rem;
    cursor: pointer;
    display: block
}

.up-letv.isgoTop {
    display: block
}

.ani_goTopShow {
    -webkit-animation: ani_goTopShow 0.2s ease-out 1;
    -webkit-animation-fill-mode: forwards
}

@-webkit-keyframes ani_goTopShow {
    0% {
        bottom: -100px
    }
    100% {
        bottom: 65px
    }
}

.ani_goTopHide {
    -webkit-animation: ani_goTopHide 0.2s ease-out 1;
    -webkit-animation-fill-mode: forwards
}

@-webkit-keyframes ani_goTopHide {
    0% {
        bottom: 65px
    }
    100% {
        bottom: -100px
    }
}

.up-letv .s-bg {
    background-color: #000;
    opacity: 0.5;
    display: none
}

.up-letv .s-up {
    position: absolute;
    left: 0;
    top: 0;
    color: #f9a038;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    background: url(http://i2.letvimg.com/img/201503/27/1757/up.png) no-repeat left top;
    background-size: 100%
}

.up-letv strong .s-up {
    background: url(http://i3.letvimg.com/img/201505/15/1628/hongb.jpg) no-repeat left top;
    overflow: hidden;
    background-size: 100%;
    float: left;
    width: 40px;
    height: 40px;
    font-size: 14px;
    border-radius: 8px
}

.up-letv .red {
    color: #f00
}

.up-letv .blue {
    color: #529bef
}

.up-letv .write {
    color: #fff
}

div.up-letv .diy_share {
    width: 4.2rem;
    height: 4.2rem;
    background-image: url(http://i0.letvimg.com/lc01_img/201509/14/18/58/share_2.png)
}

@media (orientation: landscape) {
    nav.pd_nav {
        padding: 0 0
    }
}

.iScrollVerticalScrollbar {
    position: absolute;
    z-index: 9999;
    width: 6px;
    bottom: 2px;
    top: 2px;
    right: 2px;
    overflow: hidden;
    background: rgba(61, 61, 61, 1)
}

.iScrollIndicator {
    position: absolute;
    width: 100%;
    background: rgba(116, 116, 116, 1);
    border-color: rgba(116, 116, 116, 1);
    border-radius: .3rem
}

.pd_nav {
    overflow: hidden
}

.wrapper {
    position: absolute;
    overflow: hidden;
    width: 100%
}

.arrow-bottom {
    width: 1.8rem;
    height: 2.6rem;
    position: absolute;
    margin-left: -1.4rem;
    left: 50%;
    bottom: 0
}

.arrow-bottom .icon_arrow {
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
    position: relative;
    margin-top: 0.4rem;
    text-align: center
}

.arrow-bottom .icon_arrow:before, .arrow-bottom .icon_arrow:after {
    display: block;
    content: "\e800";
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 1)
}

.arrow-bottom .icon_arrow:before {
    color: rgba(255, 255, 255, 0.4)
}

.arrow-bottom .icon_arrow:after {
    margin-top: -0.4rem
}

.column_tit {
    height: 2.2rem;
    line-height: 2.2rem;
    padding-bottom: 0.9rem;
    margin-top: 0.5rem
}

.column_tit h2, .column_tit h2 a {
    color: #222222
}

.column_tit h2 {
    position: relative;
    float: left;
    padding: 0 0 0 1.3rem;
    font-size: 1.6rem
}

.column_tit h2:before {
    position: absolute;
    left: 0;
    content: " ";
    background: #d70c19;
    width: 0.45rem;
    height: 2.2rem;
    overflow: hidden;
    border-radius: 0 0.3rem 0.3rem 0;
    margin-right: 1rem
}

.column_tit h2 a {
    float: left;
    margin-top: 0.2rem
}

.column_tit .icon_more {
    float: right;
    position: relative;
    width: 4rem;
    height: 2rem;
    margin: 0.4rem 1rem 0.5rem 0
}

.column_tit a.icon_more {
    font-size: 1.3rem;
    display: inline-block;
    position: relative;
    line-height: 2rem;
    color: #222222
}

.column_tit a.icon_more:before {
    content: ''
}

.icon_more:before {
    display: block;
    position: absolute;
    top: 0.5rem;
    left: 2.4rem;
    content: '';
    width: 6px;
    height: 6px;
    border: 1px solid #222222;
    border-left-color: transparent;
    border-bottom-color: transparent;
    -webkit-transform: rotate(45deg)
}

section .coslumn_body, section .column_body {
    padding-right: 1rem
}

.a_temp {
    position: relative;
    float: left;
    margin-top: 0.1rem;
    margin-bottom: 1.5rem;
    width: 50%;
    color: #ffffff;
    overflow: hidden
}

.a_temp.a_app:after {
    content: "APP专享";
    position: absolute;
    top: 0.8rem;
    right: -2.2rem;
    height: 2rem;
    width: 8rem;
    line-height: 2.2rem;
    font-size: 1.2rem;
    text-align: center;
    color: #ffffff;
    background: #d8310a;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg)
}

.a_temp.a_vip:after {
    content: "VIP";
    position: absolute;
    top: 0;
    left: 1rem;
    height: 2rem;
    width: 3rem;
    line-height: 2rem;
    font-size: 1.3rem;
    text-align: center;
    color: #ffffff;
    background: #ff8d1e;
    border-radius: 0.4rem 0 0 0
}

.a_temp .a_img, .a_temp .a_cnt {
    margin-left: 1rem
}

.a_img {
    display: block;
    position: relative;
    min-height: 8.5rem;
    border-radius: 0.4rem;
    overflow: hidden;
    background-size: 100%
}

.a_img img {
    width: 100%;
    height: auto;
    float: left
}

.a_img i {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 0.4rem;
    background-position: top center
}

.a_cnt {
    display: block;
    position: relative;
    background: none;
    color: #000000;
    margin-top: 0.8rem;
    height: 3.4rem;
    overflow: hidden
}

.a_cnt h3, .a_cnt p {
    margin: 0 0.2rem;
    max-height: 3.3rem;
    overflow: hidden
}

.a_cnt h3 {
    font-size: 1.4rem;
    color: #222222;
    line-height: 1.8rem
}

.a_cnt p {
    font-size: 1.2rem;
    color: #8e8e8f;
    line-height: 1.6rem
}

a.a_temp:visited {
    color: #ffffff;
    text-decoration: none
}

a.a_temp:hover {
    color: #ffffff;
    text-decoration: none
}

.focus {
    margin-bottom: 1.5rem
}

.a_cnt .main_title_heig {
    height: 1.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.focus {
    height: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
    -webkit-transform: translate3d(0, 0, 0)
}

#j-slide-wrapper {
    -webkit-transform-style: preserve-3d
}

.fs-img {
    width: 19200px;
    margin-left: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden
}

.fs-img li {
    width: 640px;
    float: left;
    position: relative;
    -webkit-user-select: none;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    background: #ebebeb url('http://i0.letvimg.com/lc02_img/201512/29/11/48/1146/focus.png') no-repeat center center;
    background-size: 100%
}

.fs-img li a {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    background-size: 100%;
    background-repeat: no-repeat
}

.fs-doc {
    text-align: right;
    height: 20px;
    position: absolute;
    right: 10px;
    bottom: 2px;
    width: 40%
}

.fs-doc li {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #000;
    border-radius: 10px;
    margin-left: 3px;
    box-shadow: 0 0 3px #fff
}

.fs-doc .active {
    background-color: #fff;
    opacity: 1
}

.s-txt {
    display: block;
    overflow: hidden
}

.s-txt b {
    width: 94%;
    position: absolute;
    left: 2%;
    color: #fff;
    text-shadow: 1px 1px 3px #000;
    height: 20px;
    overflow: hidden;
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis
}

.s-txt .b-1 {
    bottom: 46%;
    font-size: 14px
}

.s-txt .b-2 {
    bottom: 28%;
    font-size: 18px
}

.s-txt .b-3 {
    bottom: 12%;
    font-size: 14px
}

@media only screen and (max-width: 360px) {
    .fs-img li {
        height: 159px
    }
}

@media only screen and (width: 360px) {
    .fs-img li {
        height: 175px
    }
}

@media (min-width: 361px) and (max-width: 400px) {
    .fs-img li {
        height: 178px
    }
}

@media (min-width: 401px) and (max-width: 440px) {
    .fs-img li {
        height: 198px
    }
}

@media (min-width: 441px) and (max-width: 480px) {
    .fs-img li {
        height: 225px
    }
}

@media (min-width: 481px) and (max-width: 520px) {
    .fs-img li {
        height: 237px
    }
}

@media (min-width: 521px) and (max-width: 560px) {
    .fs-img li {
        height: 257px
    }
}

@media only screen and (min-width: 561px) {
    .fs-img li {
        height: 316px
    }
}

.vip_column .a_temp {
    border-bottom-right-radius: 0.4rem
}

.vip_column .a_cnt {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    height: 2.6rem;
    width: 100%;
    border-bottom-left-radius: 0.4rem
}

.vip_column .a_cnt h3 {
    line-height: 2.6rem;
    color: #fff;
    padding-left: 0.5rem;
    padding-right: 1rem
}

.vip_column .vip_more .o-more {
    background: #e4e4e4;
    color: #454545;
    border: none;
    width: 50%;
    height: 3rem;
    line-height: 3rem;
    margin: 1.5rem auto 0 auto;
    max-width: 160px;
    min-height: 3rem
}

.vip_column .vip_more {
    margin-bottom: 1.2rem
}

.hot_list {
    background: #ebeced
}

.hot_list .v_temp {
    position: relative;
    background-color: #fff;
    margin-bottom: 1.5rem;
    border-top: 0.05rem solid #dedfe0;
    border-bottom: 0.05rem solid #dedfe0
}

.hot_list .v_temp .v_tit {
    height: 4rem;
    line-height: 4rem;
    padding: 0 1rem;
    font-size: 1.6rem;
    overflow: hidden;
    color: #3f3f3f
}

.hot_list .v_temp .v_img {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    min-height: 179px
}

.hot_list .v_temp .v_img img {
    width: 100%;
    float: left
}

.hot_list .v_temp .v_img small {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-size: cover
}

.hot_list .v_temp .v_img small:before {
    content: '';
    background: url(http://i3.letvimg.com/img/201503/11/1516/hv_ico_02.png);
    width: 70px;
    height: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-size: 100%;
    margin: -35px 0 0 -35px
}

.hot_list .v_func {
    padding: 0 1rem;
    background-color: #fff;
    height: 3.6rem;
    position: relative;
    overflow: visible;
    z-index: 20;
    overflow: hidden
}

.hot_list .v_func a {
    color: #7c7c7c
}

.hot_list .v_func .icon_num {
    float: left;
    line-height: 4rem;
    color: #7c7c7c;
    font-size: 1.4rem
}

.hot_list .v_func .icon_share {
    float: right;
    line-height: 4rem;
    font-size: 1.4rem
}

.hot_list #j-player {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%
}

.background_pic {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10000;
    overflow-y: scroll
}

.background_video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10100
}

.background_video #j-player {
    height: 100%;
    width: 100%
}

.background {
    width: 100%;
    height: auto
}

.btn_area {
    position: absolute;
    left: 0;
    top: 56%;
    z-index: 10040;
    width: 100%;
    z-index: 30000
}

a.a_btn {
    margin: 13px auto auto auto;
    display: block;
    color: #c25758;
    border: thin solid #c25758;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    height: 40px;
    width: 180px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    text-decoration: none
}

a.a_btn:hover {
    text-decoration: none;
    color: #c25758
}

a.a_btn:visited {
    color: #c25758
}

a.a_btn:active {
    background-color: #c25758;
    color: #ffffff
}

.v_play_con {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 20000;
    width: 100%;
    height: 100%
}

.v_play_btn {
    width: 100%;
    height: 100%;
    background: url(http://i3.letvimg.com/lc04_img/201601/10/17/06/2.jpg) no-repeat center;
    background-size: 100% auto;
    color: #fff
}

.replay_btn {
    opacity: 0;
    position: absolute;
    right: 8px;
    top: 20px;
    z-index: 30000;
    width: 70px;
    height: 30px;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity .7s;
    -moz-transition: opacity .7s;
    -webkit-transition: opacity .7s;
    -o-transition: opacity .7s
}

#shengtai {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10500
}

.loading_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -37px 0 0 -37px;
    width: 75px;
    height: 75px
}

.v_play_con {
    height: 100%
}

.btn_logo {
    position: absolute;
    top: 28%;
    width: 100%;
    text-align: center
}

.btn_logo img {
    width: auto;
    height: 120px
}

.btn_logo p {
    color: #a6a6a6;
    font-size: 20px;
    font-weight: normal
}

.background_pic {
    height: 100%;
    background: #ffffff url("http://i3.letvimg.com/lc04_img/201601/13/10/30/yindaobgS.jpg") no-repeat;
    background-size: 100% 250px
}

@media all and (orientation: landscape) {
    .background_pic {
        background: #ffffff url("http://i1.letvimg.com/lc04_img/201601/13/10/56/yindao_bgH.jpg") no-repeat center top;
        background-size: 514px 222px
    }

    .btn_logo {
        top: 24%;
        text-align: center
    }

    .btn_area {
        left: 0;
        top: 72%;
        width: 100%;
        text-align: center
    }

    .btn_area a.a_btn {
        display: inline-block;
        margin: 0 3px;
        width: 30%
    }

    .v_play_btn {
        background: #ffffff url("http://i1.letvimg.com/lc05_img/201601/12/12/15/yindao_fengpi.jpg") no-repeat center center;
        background-size: 265px 265px
    }

    .loading_btn {
        margin-top: -22px
    }
}

@media only screen and (width: 320px) {
    .btn_logo {
        top: 17%
    }

    .btn_area {
        top: 50%
    }
}

@media only screen and (width: 480px) {
    .btn_logo {
        top: 22%
    }

    .btn_area {
        top: 68%
    }
}

.clear {
    clear: both
}

a.mem-a {
    color: #c25758;
    border: solid 1px #c25758 !important
}

a.mem-a:active {
    background: #ff5d5d;
    color: #fff !important
}

a.mem-a:visited {
    color: #c25758;
    border: solid 1px #c25758 !important
}

a.mem-a:hover {
    color: #c25758;
    border: solid 1px #c25758 !important;
}

.mem-page0 {
    width: 100%;
    height: 100%;
    background: #ffffff url(http://i3.letvimg.com/lc05_img/201601/11/20/39/leme_bg1.jpg) no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0
}

.mem-back {
    position: absolute;
    width: 44px;
    height: 16px;
    background: url(http://i1.letvimg.com/lc05_img/201601/11/20/40/btn_back.png) no-repeat;
    background-size: 44px;
    top: 20px;
    left: 20px
}

.mem-page0 .p-title {
    font-size: 20px;
    width: 282px;
    margin: 50px auto 10px;
    color: #c25758
}

.mem-page2 {
    width: 302px;
    height: auto;
    margin: 0 auto
}

.mem-a {
    width: 129px;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    color: #c25758;
    background: #fff;
    text-align: center;
    float: left;
    margin: 10px;
    border: solid 1px #c25758;
    border-radius: 30px
}

@media all and (orientation: landscape) {
    .mem-page0 .p-title {
        width: 406px
    }

    .mem-page2 {
        width: 426px
    }

    .mem-a {
        width: 120px;
        height: 50px;
        line-height: 50px
    }
}

@media all and (orientation: landscape) and (max-height: 320px) {
    .mem-a {
        height: 40px;
        line-height: 40px
    }
}

#newDaoliu {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-size: cover;
    background-color: #030303;
    background-repeat: no-repeat;
    background-position: top center;
    display: block;
    float: left;
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000
}

.newDaoLiu {
    background-image: url(http://i0.letvimg.com/lc06_img/201604/08/18/12/banner.jpg)
}

.nowDaoLiu {
    background-image: url(http://i2.letvimg.com/lc07_img/201604/08/19/15/banner.jpg)
}

.aDaoLiu {
    background-image: url(http://i1.letvimg.com/lc05_img/201604/13/23/55/2355/banner.jpg)
}

@media screen and (orientation: landscape) {
    #newDaoliu.newDaoLiu {
        background: url(http://i3.letvimg.com/lc07_img/201604/08/18/05/banner_ch_02.jpg) no-repeat center center;
        background-size: 100%;
        background-color: #000;
        background-size: contain
    }

    #newDaoliu.nowDaoLiu {
        background: url(http://i2.letvimg.com/lc03_img/201604/08/18/06/banner_h_02.jpg) no-repeat center center;
        background-size: 100%;
        background-color: #000;
        background-size: contain
    }

    #newDaoliu.aDaoLiu {
        background: url(http://i0.letvimg.com/lc07_img/201604/14/00/16/banner_ch_03.jpg) no-repeat center center;
        background-size: 100%;
        background-color: #030303;
        background-size: contain
    }
}

@media (device-height: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    #newDaoliu.newDaoLiu {
        background: #000 url(http://i0.letvimg.com/lc06_img/201604/08/18/42/banner.jpg) no-repeat;
        background-size: contain;
        background-position: center center
    }

    #newDaoliu.nowDaoLiu {
        background: #000 url(http://i0.letvimg.com/lc06_img/201604/08/18/47/banner_01.jpg) no-repeat;
        background-size: contain;
        background-position: center center
    }

    #newDaoliu.aDaoLiu {
        background: #000 url(http://i0.letvimg.com/lc05_img/201604/13/23/55/2355/banner_01.jpg) no-repeat;
        background-size: contain;
        background-position: center center
    }
}

#newDaoliu.fadeIn {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-animation: fadeIn 1.5s;
    -o-animation: fadeIn 1.5s;
    animation: fadeIn 1.5s;
    -moz-animation: fadeIn 1.5s;
    -ms-animation: fadeIn 1.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

.fadeInUp {
    -webkit-animation: fadeInUp 1.5s;
    animation: fadeInUp 1.5s;
    -moz-animation: fadeInUp 1.5s;
    -ms-animation: fadeInUp 1.5s;
    -o-animation: fadeInUp 1.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

@-webkit-keyframes fadeInUp {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        opacity: 1
    }
    100% {
        -webkit-transform: translate3d(0, 100%, 0);
        opacity: 0
    }
}

@keyframes fadeInUp {
    0% {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
    100% {
        transform: translate3d(0, 100%, 0);
        opacity: 0
    }
}

@-moz-keyframes fadeInUp {
    0% {
        -moz-transform: translate3d(0, 0, 0);
        opacity: 1
    }
    100% {
        -moz-transform: translate3d(0, 100%, 0);
        opacity: 0
    }
}

@-ms-keyframes fadeInUp {
    0% {
        -ms-transform: translate3d(0, 0, 0);
        opacity: 1
    }
    100% {
        -ms-transform: translate3d(0, 100%, 0);
        opacity: 0
    }
}

.fadeInDown {
    -webkit-animation: fadeInDown 1.5s;
    -o-animation: fadeInDown 1.5s;
    animation: fadeInDown 1.5s;
    -moz-animation: fadeInDown 1.5s;
    -ms-animation: fadeInDown 1.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards
}

@-webkit-keyframes fadeInDown {
    0% {
        -webkit-transform: translate3d(0, -100%, 0);
        opacity: 0
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@keyframes fadeInDown {
    0% {
        transform: translate3d(0, -100%, 0);
        opacity: 0
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-moz-keyframes fadeInDown {
    0% {
        -moz-transform: translate3d(0, -100%, 0);
        opacity: 0
    }
    100% {
        -moz-transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-ms-keyframes fadeInDown {
    0% {
        -ms-transform: translate3d(0, -100%, 0);
        opacity: 0
    }
    100% {
        -ms-transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

.new_btnclose {
    width: 80px;
    height: 32px;
    font-size: 14px;
    color: #fff;
    background: rgb(41, 39, 40);
    line-height: 34px;
    border-radius: 6px;
    position: absolute;
    right: 16px;
    bottom: 22px;
    margin: 0;
    text-align: center
}

.new_btnclose:hover {
    color: #fff
}

.show-start .start_class {
    display: none
}

.start_class {
    padding: 0;
    font-size: 18px;
    position: relative;
    text-align: center;
    min-width: 310px;
    height: auto;
    overflow: hidden;
    margin: 0 auto
}

#j-smartnew {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 2;
    -webkit-animation: opacity .3s linear;
    -moz-animation: opacity .3s linear;
    -ms-animation: opacity .3s linear;
    -o-animation: opacity .3s linear;
    animation: opacity .3s linear
}

@-webkit-keyframes opacity {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-moz-keyframes opacity {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-ms-keyframes opacity {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-o-keyframes opacity {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes opacity {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

.start_class {
    padding: 0;
    font-size: 18px;
    position: relative;
    text-align: center;
    min-width: 310px;
    height: auto;
    overflow: hidden;
    margin: 0 auto
}

.start_class a {
    color: #fff;
    display: block;
    width: 100%;
    overflow: hidden
}

.start_class img {
    display: block;
    width: 100%;
    float: left;
    height: auto
}

.start_class .class {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    right: 0px;
    padding: 6px;
    width: 20px;
    height: 20px
}

.start_class .class a, .start_class .class a:hover {
    display: block;
    height: 20px;
    position: relative
}

.class i {
    height: 14px;
    left: 9px;
    top: 3px;
    width: 2px;
    position: absolute;
    background: #fff;
    border-radius: 5px
}

.class .i-1 {
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg)
}

.class .i-2 {
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg)
}

.focus ul {
    letter-spacing: 0px;
    word-spacing: 0px;
    font-size: 0
}

.yytj {
    margin-bottom: 1.2rem
}

.yytj .column_body {
    padding: 0 1rem
}

.yytj ul.boxFlex li a {
    display: block;
    width: 5.6rem;
    height: 5.6rem;
    margin: 0 auto;
    border-radius: 1.4rem;
    border: 1px solid #cfcfcf
}

.hotRank {
    margin-top: 2rem;
    background: #ebeced;
    height: 5rem;
    line-height: 5rem
}

.hotRank .column_body {
    margin: 0 1.5rem;
    overflow: hidden
}

.hotRank span {
    font-size: 1.4rem;
    color: #a5a4a4
}

.hotRank a {
    font-size: 1.2rem;
    color: #7e7e7e;
    margin: 0 0.2rem
}

.show-start .smartbanner, .show-start .layout, .show-start .ios {
    display: none
}

.show-start .m-start {
    display: block
}

.show-start {
    margin: 0 !important
}

.m-start {
    padding: 0;
    height: 100%;
    display: none
}

.open-show {
    position: absolute;
    min-height: 416px;
    max-height: 740px;
    width: 100%;
    height: 100%;
    display: box;
    display: -webkit-box;
    display: -moz-box;
    display: -o-box;
    box-orient: vertical;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical
}

.open-show p {
    text-align: center;
    overflow: hidden;
    width: 100%
}

.open-show .p1 {
    padding-top: 20px;
    box-flex: 1.0;
    -moz-box-flex: 1.0;
    -webkit-box-flex: 1.0;
    -o-box-flex: 1.0;
    min-height: 43px
}

.open-show .p1 img {
    width: 290px;
    height: 43px
}

.open-show .p2 {
    text-align: center;
    width: 100%;
    height: 42px;
    line-height: 40px;
    position: relative;
    font-size: 1.2rem
}

.open-show .p2 a {
    border-radius: 5px;
    overflow: hidden;
    height: 20px;
    line-height: 20px;
    padding: 10px 0;
    border: 1px solid #7f7f7f;
    display: block;
    float: left;
    width: 126px;
    margin: 0 10px
}

.open-show .p2 span {
    width: 300px;
    height: 44px;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -150px
}

.open-show .p3 {
    padding-bottom: 20px
}

.open-show .p3 i {
    background-image: url(http://i0.letvimg.com/img/201312/10/1443/open-icon.png);
    width: 16px;
    height: 16px;
    background-size: 100%;
    margin-top: 9px;
    vertical-align: bottom
}

.open-show .p3 b {
    color: #fff;
    padding-left: 5px
}

.open-show .p3 span {
    padding-left: 160px
}

.open-show .p3 .active i {
    background-position: left -16px
}

.open-show .p4 {
    box-flex: 1.0;
    -moz-box-flex: 1.0;
    -webkit-box-flex: 1.0;
    -o-box-flex: 1.0
}

.open-show .p4 img {
    width: 320px;
    height: 275px
}

.a-btn, .nextOff {
    background-color: #fff
}

#j-fixed-topbar {
    display: none
}

.m-start {
    -webkit-animation: 0.5s ease-in opts;
    -webkit-transform: translateY(0px);
    -moz-animation: 0.5s ease-in opts;
    -moz-transform: translateY(0px);
    -o-animation: 0.5s ease-in opts;
    -o-transform: translateY(0px);
    animation: 0.5s ease-in opts;
    transform: translateY(0px)
}

@keyframes opts {
    0% {
        opacity: 0;
        transform: translateY(-100%)
    }
    100% {
        opacity: 100;
        transform: translateY(0px)
    }
}

@-webkit-keyframes opts {
    0% {
        -webkit-opacity: 0;
        -webkit-transform: translateY(-100%)
    }
    100% {
        -webkit-opacity: 100;
        -webkit-transform: translateY(0px)
    }
}

@-moz-keyframes opts {
    0% {
        -moz-opacity: 0;
        -moz-transform: translateY(-100%)
    }
    100% {
        -moz-opacity: 100;
        -moz-transform: translateY(0px)
    }
}

@-o-keyframes opts {
    0% {
        -o-opacity: 0;
        -o-transform: translateY(-100%)
    }
    100% {
        -o-opacity: 100;
        -o-transform: translateY(0px)
    }
}

.other .a_temp {
    width: -moz-calc(50% - 0.9rem);
    width: -webkit-calc(50% - 0.9rem);
    width: calc(50% - 0.9rem);
    margin: 0
}

.other .a_temp:nth-child(odd) {
    margin: 0 0.6rem
}

.other .a_temp .a_cnt {
    position: relative;
    background: none;
    color: #000000
}

.other .a_temp .a_cnt h3 {
    font-size: 1.5rem;
    color: #222222;
    line-height: 1.5rem;
    overflow: hidden
}

.other .a_temp .a_cnt p {
    color: #8e8e8f
}

.other .a_temp .a_img {
    min-height: 8.5rem;
    border-radius: 0.6rem
}

.fullScreen #j-header, .fullScreen #j-fixed-topbar, .fullScreen .pd_nav, .fullScreen #j-smart, .fullScreen #app-guide, .fullScreen .head_box, .fullScreen .wat_head, .fullScreen #j-smartnew {
    display: none
}

.fullScreen .column {
    display: none
}

@media all and (orientation: landscape) {
    #j-smartnew {
        display: none
    }
}

@media all and (orientation: portrait) {
    #j-smartnew {
        display: block
    }

    #j-smartnew.f-hide {
        display: none
    }
}

.zongyi .s-txt .b-2 {
    bottom: 12%
}